body {
background-color: bisque;
font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    background-color: #111111;
    color: #D4AF37;
    padding: 20px;
    margin-bottom: 10px;
}

h2{
    color: #D4AF37; 
    margin-top: 25px;
    margin-bottom: 10px;
    border-left: 5px solid darkkhaki;
    padding-left: 10px;
}

h3{
    color: #4A2C2A;
    margin-top: 15px;
}

h4, h5, h6 {
    color: #6B4E31; 
}

p{
     color: #333333;
    margin-bottom: 10px;
}

img {
    width: 170px;
    height: auto;
    display: block;
    margin: 0 auto;
}

a {

    text-align: center;
    background-color: #111111;
    color: #D4AF37;
    padding: 12px 20px;
    margin: 0 10px;
    border-radius: 8px;
    font-weight: bold;
    
}

footer {
    background-color: #111111;
    color: #FFE4C4;
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
}

footer h3 {
    color: #D4AF37;
    margin-bottom: 10px;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #D4AF37;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #FFE4C4;
}

.gallery {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid #D4AF37;

    display: inline-block;
}